.gridStyle {
    border: 1px solid rgb(212,212,212);
    color:black;
    height:500px;
}

.ngColMenu{
	/*background-color:#F34D4D;*/
	background-color:rgba(0,0,0,0.8);
}

.ngHeaderButton{
	background-color:#649AFA;
}

.ngCanvas, .ngRow.even, .ngRow.odd, .ngGrid, .ngAggregate{
	background:rgba(0, 0, 0, 0.1);
}

.ngAggArrowExpanded, .ngAggArrowCollapsed{
	border-color: transparent transparent transparent white;
}

.ngTopPanel{
	background-color:rgba(255,255,255,0.1);
	color:white;
}




