
<div ng-include="'template/header.html'"></div>

<div class="accueil row">
	
	<!-- partie gauche -->
	<div class="left col-sm-9">
		<div>
			<h4><b>Bienvenu: {{nom_user}} Vous êtes à {{ville_actu}}</b></h4>
		</div>
	
		<!-- Google Map -->
		<!-- <div class="google-map">
			 center="position.coords"
                zoom="zoomProperty" 
                markers="markersProperty"
                latitude="clickedLatitudeProperty"
                longitude="clickedLongitudeProperty"
                mark-click="false"
                draggable="true"
                fit="true"
                events="eventsProperty"
          </div>      
           -->
         {{center}}       
                
         <google-map
         	center="map.center" 
			zoom="map.zoom"
			draggable="true"
		>
		
			<marker coords="myPositionMarker.coords">
			</marker>
		
			<window show="true" coords="myPositionMarker.coords">
	            <p>Vous êtes localisé ici:
		            {{myPositionMarker.coords.latitude}}, 
		            {{myPositionMarker.coords.longitude}}
	            </p>
        	</window>
        	
        	
        	<!-- <marker ng-repeat="m in map.markers" coords="m" icon="m.icon" click="onMarkerClicked(m)">
            <marker-label content="m.title" anchor="22 0" class="marker-labels"/>
	            <window show="m.showWindow" closeClick="m.closeClick()">
	                <p>This is an info window at {{ m.latitude | number:4 }}, {{ m.longitude | number:4 }}!</p>
	
	                <p class="muted">My marker will stay open when the window is popped up!</p>
	            </window>
        	</marker> -->
		
			
			<marker ng-model="eventMarkers" ng-repeat="em in eventMarkers" coords="em.coords" icon="em.icon" click="onMarkerClicked(em)">
				<window show="em.showWindow" closeClick="em.closeClick()">
					<p><b>L'événement</b>:{{em.coords.name}}
					<p><b>Location</b>:{{em.coords.locName}}
					<p><b>Adresse</b>: {{em.coords.address}}</p>
					<p><b>Coordonnée</b>: {{em.coords.latitude}}, {{em.coords.longitude}}</p>
				</window>
			</marker>
			
			
		
		</google-map>       

	</div>
	
	
	<!-- partie droite -->
	<div class="right col-sm-3">
		<div class="styles-block">
			<h4><b><i class="fa fa-music"></i> Genres préférés</b></h4>
			<div class="style-item" ng-repeat="item in stylesByUser">
				<span>
					<i class="fa fa-star" style="color:yellow"></i>
					<a class="btn btn-inverse"><b>{{item.label}}</b></a>
					<a ng-click="deleteUserStyles(item.id)" title="élever de liste de préférence" class="btn btn-danger btn-small margin-medium">
	  					<i class="fa fa-trash-o"></i>
	  				</a>
  				</span>
			</div>
			
			<!-- button ajouter -->
			<ul ui-if="stylesByUser.length<4">
				<div class="dropdown" ng-controller="HeaderCtrl">
			 		<a ng-click="getAvailables()" title="ajouter un style" class="acenter dropdown-toggle 
			 		btn btn-success btn-small margin-medium">
	  					<i class="fa fa-plus"></i> Ajouter
	  				</a>
				  	<ul class="dropdown-menu" role="menu">
					    <li ng-repeat="choice in stylesReste">
					      <a ng-click="addUserStyles(choice.id)">{{choice.label}}</a>
					    </li>
				 	 </ul>
				</div>
			</ul>
			
			<div>
				<a class="btn btn-primary margin-medium" ng-click="meLocaliser()">
				<i class="fa fa-search"></i> Me Localiser
				</a>
			</div>
			
			<div>
				<b style="color:black">Préciser la distance</b>(KM)<input class="text" ng-model="distance">
			</div>
			
			<div>
				<a class="btn btn-primary margin-medium" ng-click="getAllEvenementsSurMap()">
				<i class="fa fa-map-marker"></i> Afficher événements sur Map
				</a>
			</div>
			
			<!-- <div>
				<a class="btn btn-primary margin-medium" ng-click="afficherGroupesByGenre()">
				<i class="fa fa-users"></i> Afficher les groupes par genre
				</a>
			</div> -->
			
			<div>
				<a class="btn btn-primary margin-medium" ng-click="afficherArtistesByGenre()">
				<i class="fa fa-users"></i> Afficher les artistes par genre
				</a>
			</div>
			
			<div>
				<a class="btn btn-primary margin-medium" ng-click="afficherEvenementsEnDetaille()">
				<i class="fa fa-calendar"></i> Afficher événements en détail 
				</a>
			</div>

			
		</div>	
	</div>
	
</div>
