
<div ng-include="'template/header.html'"></div>

<div class="accueil row">
	
	<!-- partie gauche -->
	<div class="left span9">
		<div>
			<h4><b>Bienvenu: {{nom_user}} Vous êtes à {{ville_actu}}</b></h4>
		</div>
	
		<!-- Google Map -->
		<div class="google-map" 
                center="position.coords"
                zoom="zoomProperty" 
                markers="markersProperty"
                latitude="clickedLatitudeProperty"
                longitude="clickedLongitudeProperty"
                mark-click="false"
                draggable="true"
                fit="true"
                events="eventsProperty">
        </div>

	</div>
	
	
	<!-- partie droite -->
	<div class="right span3">
		<div class="styles-block">
			<h4><b><i class="fa fa-music"></i> Genres préférés</b></h4>
			<div class="style-item" ng-repeat="item in stylesByUser">
				<span>
					<i class="fa fa-star" style="color:yellow"></i>
					<a class="btn btn-inverse">{{item.label}}</a>
					<a ng-click="deleteUserStyles(item.id)" title="élever de liste de préférence" class="btn btn-danger btn-small margin-medium">
	  					<i class="fa fa-trash-o"></i>
	  				</a>
  				</span>
			</div>
			
			<!-- button ajouter -->
			<ul ui-if="stylesByUser.length<4">
				<div class="dropdown" ng-controller="HeaderCtrl">
			 		<a ng-click="getAvailables()" title="ajouter un style" class="acenter dropdown-toggle 
			 		btn btn-success btn-small margin-medium">
	  					<i class="fa fa-plus"></i> Ajouter
	  				</a>
				  	<ul class="dropdown-menu" role="menu">
					    <li ng-repeat="choice in stylesReste">
					      <a ng-click="addUserStyles(choice.id)">{{choice.label}}</a>
					    </li>
				 	 </ul>
				</div>
			</ul>
			
			<div>
				<a class="btn btn-primary margin-medium" ng-click="meLocaliser()">
				<i class="fa fa-search"></i> Me Localiser
				</a>
			</div>
			
			<div>
				<b style="color:black">Préciser la distance</b>(KM)<input class="text" ng-model="distance">
			</div>
			
			<div>
				<a class="btn btn-primary margin-medium" ng-click="getAllEvenementsSurMap()">
				<i class="fa fa-map-marker"></i> Afficher événements sur Map
				</a>
			</div>
			
			<!-- <div>
				<a class="btn btn-primary margin-medium" ng-click="afficherGroupesByGenre()">
				<i class="fa fa-users"></i> Afficher les groupes par genre
				</a>
			</div> -->
			
			<div>
				<a class="btn btn-primary margin-medium" ng-click="afficherArtistesByGenre()">
				<i class="fa fa-users"></i> Afficher les artistes par genre
				</a>
			</div>
			
			<div>
				<a class="btn btn-primary margin-medium" ng-click="afficherEvenementsEnDetaille()">
				<i class="fa fa-calendar"></i> Afficher événements en détail 
				</a>
			</div>

			
		</div>	
	</div>
	
</div>
