<div class="logo acenter">
	<h1><b>MUSIC EVENT</b></h1>
	<img src="images/music-event4.jpg" class="margin-small" style="width:180px">
	<img src="images/music-event2.jpg" class="margin-small">
	<img src="images/music-event.jpg" class="margin-small">
	<img src="images/music-event3.jpg" class="margin-small">
	<img src="images/music-event5.jpg" class="margin-small" style="width:180px">
</div>

<form class="login form-horizontal">

	<div class="control-group">
		<label class="control-label"><b style="color:black">Votre identifiant: </b></label>
		<div class="controls">
			<input type="text" ng-model="nom">
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label"><b style="color:black">Votre mot de passe: </b></label>
		<div class="controls">
			<input type="password" ng-model="pass">
		</div>
	</div>
	
	<div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn btn-primary btn-large" ng-click="checkLogin()">
	      <i class="fa fa-music"></i> Se connecter
	      </button>
	    </div>
  	</div>
  	
  	
  	<div class="control-group">
	    <div class="controls">
	      <a class="btn btn-primary" href="#/nouveauCompte">
	      <i class="fa fa-pencil-square-o"></i> créer un nouveau compte
	      </a>
	    </div>
  	</div>
	

</form>