<div class="logo acenter">
	<h1><b>MUSIC EVENT</b></h1>
	<img src="images/music-event4.jpg" class="margin-small" style="width:180px">
	<img src="images/music-event2.jpg" class="margin-small">
	<img src="images/music-event.jpg" class="margin-small">
	<img src="images/music-event3.jpg" class="margin-small">
	<img src="images/music-event5.jpg" class="margin-small" style="width:180px">
</div>

<form class="login form-horizontal" role="form">

		<div class="form-group">
    		<label class="col-sm-6 control-label"><b>Votre identifiant: </b></label>
			<div class="col-sm-6">
				<input class="form-control" type="text" ng-model="nom">
			</div>
  		</div>
  		
  		<div class="form-group">
    		<label class="col-sm-6 control-label"><b>Votre mot de passe: </b></label>
			<div class="col-sm-6">
				<input class="form-control" type="password" ng-model="pass">
			</div>
  		</div>
	
	<div class="form-group">
	    <div class="col-sm-offset-4 col-sm-8">
	      <button type="submit" class="btn btn-primary" ng-click="checkLogin()">
	      <i class="fa fa-music"></i> Se connecter
	      </button>
	      
	      <a class="btn btn-primary" href="#/business">
	      <i class="fa fa-puzzle-piece"></i> Module Business
	      </a>
	      
	    </div>
  	</div>
  	
  	<div class="form-group">
	    <div class="col-sm-offset-4 col-sm-8">
	       <a class="btn btn-primary" href="#/nouveauCompte">
	      <i class="fa fa-pencil-square-o"></i> créer un nouveau compte
	      </a>
	    </div>
  	</div>
  	
  	
  		
</form>

