
<div class="acenter">
	<h1>
		<b>CREATION COMPTE</b>
	</h1>
</div>

<form class="login form-horizontal">

		<div class="form-group">
    		<label class="col-sm-6 control-label"><b>Votre nom utilisateur: </b></label>
			<div class="col-sm-6">
				<input class="form-control" type="text" ng-model="nom">
			</div>
  		</div>
  		
  		<div class="form-group">
    		<label class="col-sm-6 control-label"><b>Votre mail: </b></label>
			<div class="col-sm-6">
				<input class="form-control" type="text" ng-model="mail">
			</div>
  		</div>
  		
  		<div class="form-group">
    		<label class="col-sm-6 control-label"><b>Votre mot de passe: </b></label>
			<div class="col-sm-6">
				<input class="form-control" type="password" ng-model="password">
			</div>
  		</div>

  		
  		<div class="form-group">
		    <div class="col-sm-offset-4 col-sm-8">
		      <button type="submit" class="btn btn-primary" ng-click="">
		      	<i class="fa fa-music"></i> Créer votre compte
		      </button>
		    </div>
  		</div>


</form>